/*

Domain: svetoslav.eldin.work;
Subdomain: /svetoslav;
Author: Eldin;
URL: http://eldin.work;
Theme URL: http://svetoslav.eldin.work;
Author URL: http://www.upwork.com/o/profiles/users/_~01b83cb69101fed138/;
Version: 1.0;

*/

body {
  overflow: hidden;
}

.master-row {
	background: url('../img/new-bg.jpg');
/*	height: 120px; */
	color:white;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header-right-info {
	background-color:white;
	color:black;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.inside-info {
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

p.xtitle {
	font-family: Tahoma;
	font-size: 0.8em;
	padding-top: 20px;
/*	padding-left: 5px; */
}

.xletters {
	font-size: 0.8em;
}

.logo-area h2 {
	font-size: 30px;
	padding-left: 10px;
}

.logo-area img {
	padding-top: 10px;
}

.logo-area p {
	margin-bottom: -20px;
}

.btn, .btn1, .btn2 {
	border-radius: 0px;
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 0px;
  border: 1px solid black;
}

.buttons .btn {
	margin-top: 15px;
}

.btn-default:hover {
	color: #fff;
  background-color: #ff7e00;
  border-color: #333;
  font-weight: bold;
}

.sub-header-cont {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
}

/*
.sub-header-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  height: 70px;
  width: 100%;
}
*/

.sub1, .sub2, .sub3 , .sub5, .sub6{
/*	border: 1px solid black; */
  height: 35px;
  margin-top: 18px;
/*  padding-top: 5px; */
}

span.down-arrow {
	float: right;
}


.sub1, sub3 {
/*	width: 90px; */
/*	margin-right: 10px; */
	padding-left: 5px;
  padding-right: 4px;
/*  margin-left: 0; */
}

.sub3 {
/*	width: 70px; */
/*	margin-right: 20px; */
}

.sub4 {
	background: url('../img/sub-header-bg.png') no-repeat center;
	border:1px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 60px;
/*	width: 145px; */
/*	margin-right: 20px; */
}

.sub5 .btn {
	font-size: 0.7em;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 5px;
  white-space: normal;
  height: 34px;
	border: 1px solid;
  background-color: #ff7e00;
  padding-top: 10px;
/*    width: 185px; */
/*	margin-right: 20px; */
}


.sub2, .sub6 {
/*	width: 185px; */
/*  border: 1px solid black; */
  padding-left: 5px;
  text-align: center;
  padding-top: 5px;
}

.sub2 span, .sub6 span {
/*	width: 185px; */
/*  border: 1px solid black; */
  font-size: 0.7em;
  cursor: pointer;
}

span.x-1 {
/*	font-weight: bolder; */
  text-align: center;
  margin-left: -100px; /* image is 144px */
  white-space: initial;
  font-size: 18px;
  display: block;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  margin-top: 15px;
}

span.x-2 {
/*	font-weight: bolder; */
  font-size: 18px;
  text-align: center;
  display: block;
  margin-top: -40px;
}

.dropdown-menu {
	min-width: 185px;
	border-radius: 0px;
}

.dropdown-menu>li>a {
	background-color: #fbeed1;
    border: 1px solid black;
    margin-top: 2px;
}

ul.dropdown-menu {
	border: none;
    background-color: transparent;
    box-shadow: none;
    margin-top: -4px;
}

.master-body-row {
  left: 0;
  right: 0;
  /*
  top: 190px;
  bottom: 25px;
  */
}

.left-col {
	border:1px solid black;
	background-color: #fbeed1;
}

.first-title {
	background-color: #ebbe70;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
  font-size: x-large;
  text-align: center;
  border-bottom: 1px solid;
  height: 40px;
}

.second-empty,
.fourth-empty {
	background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  text-align: center;
}

.second-empty {
  padding-top: 0;
}

.special-title {
/*  padding-bottom: 10px; */
  text-align: center;
}
.special-title .row {
  line-height: 20px;
  height: 20px;
  margin: 0;
}

.second-title,
.third-title,
.fourth-title {
	padding-top: 10px;
  padding-bottom: 10px;
}

.rz-button-small {
  font-weight: bold;
  border: 1px solid;
  text-align: center;
  line-height: normal;
  width: 100%;
}

.rz-button-small:hover,
.rz-button-small:active,
.whitish .rz-button-small:hover,
.whitish .rz-button-small:active {
  background-color: white;
}

.rz-button-primary{
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.first-title-row {
	text-align: center;
}

.right-col {
  border: 1px solid;
  height: 485px;
  max-height: 485px;
/*    margin-left: 25px; */
}

.right-col-title {
/*	background-color: #ebbe70; */
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid;
  width: 100%;
}

.zoom {
	margin-top: 5px;
  background-color: #ff7e00;
/*	background-color: #f3d9ac; */
}


.print {
  background-color: #ff7e00;
}

/* Tables all about in here*/

.divTable{
/*	display: table; */
	width: 100%;
}
.divTableRow {
/*	display: table-row; */
/*	height: 82px; */
  height: 40px;
  line-height: 40px;
}
.divTableExpanderRow {
}
.divTableHeading {
	background-color: #EEE;
/*	display: table-header-group; */
}
.divTableCell, .divTableHead {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
/*	padding: 0 10px; */
  display: block;
  float: left;
  height: 40px;
  text-align: center;
  text-decoration: inherit;
  vertical-align: middle;
}
.divTableRow.divTableCellDisabled {
  text-decoration: line-through;
}
.divTableHeading {
	background-color: #EEE;
/*	display: table-header-group; */
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
/*	display: table-row-group; */
}

.without-border {
	border:none;
}

.first-table-row,
.third-table-row,
.fourth-table-row {
	background-color: #f3d9ac;
}

span.rotate-letters p {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    margin-top: 60px;
    margin-left: -70px;
    margin-right: -60px;
    padding-left: 20px;
}


span.rotate-letters .p2 {
    text-align: center;
    margin-left: -80px;
    margin-right: -80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.special {
	border: none;
/*	width: 35%; */
  text-align: center;
}


.whitish {
	background-color: #ffffed;
}

.outer-custom-div-one {
	min-width: 30px;
  min-height: 30px;
  padding-top: 1px;
  margin-bottom: 5px;
}

.custom-div-one {
	border: 1px dotted black;
	margin: 3px;
  background-image: url('/img/fladder-small.png');
  box-sizing: content-box;
}

.no {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

span.no-1 {
  width: 100%;
}

p.no-2 {
  transform-origin: 50% 50%;
  vertical-align: middle;
}

span.no-3 {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

/*
.custom-div-two {
	width: 110px;
	height: 50px;
	border: 2px solid black;
	background-color: white;
}

span.no-3 p {
	float: left;
  transform: rotate(-90deg);
  padding-right: 25px;
  margin-right: 40px;
}

span.no-4 {
  margin-right: -80px;
  margin-left: -40px
}
*/


/* Tables all about in here*/


.Summ {
	border: 1px solid;
  text-align: center;
  font-weight: bold;
  z-index: 100;
}

.Sum-row {
  position: relative;
  top: 5px;
  width: 100%;
}

.Check {
	border: 1px solid;
  float: right;
  background-color: #ff7e00;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.row-Check {
}

span.Check {
  height: inherit;
}

.footer-row {
  position: fixed;
	background-color: #ebbe70;
	margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.foot-col {
  background-color: white;
  color: black;
  height: 20px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  font-size: 0.8em;
}

.foot-col span {
  float: right;
}

/* CSS Fix ups */

.form-control {
	border: 1px solid black;
	border-radius: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.custom-placeholder {
	border: none;
	width: 100%;
  height: 100%;
}

.custom-placeholder:focus {
	-webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.custom-p {
	padding-left: 30px;
}

.size-custom {

}

/* Added by me */
.go-button-container {
  float: right;
  line-height: 35px;
	height: 35px;
}
.result-outlook-container {
  overflow-y: scroll;
  margin: 0 -15px;
  padding: 0 15px;
  height: 100%;
}
.middle-col {
}
.left-col-container {
/*  height: 315px; */
  overflow-y: auto;
  height: 400px;
  max-height: 400px;
}
.middle-col-container {
/*  height: 280px; */
}
.right-col-container {
  height: 350px;
}
.table-header {
  display: block;
/*  position: relative; */
  overflow-y: scroll;
}

.table-header .divTableRow {
  border-top: 1px solid black;
  text-align: center;
}

.table-body {
  display: block;
/*  border-bottom: 1px solid black; */
  overflow-y: scroll;
  max-height: 400px;
  height: 400px;
}
.first-col {
  width: 5%;
}
.second-col {
  width: 19%;
}
.third-col {
  width: 12%;
}
.fourth-col {
  width: 12%;
}
.fifth-col {
  width: 12%;
}
.sixth-col {
  width: 20%;
}
.seventh-col { /* Hidden visualization */
  width: 20%;
}
.eighth-col {
  width: 10%;
}
.ninth-col {
  width: 10%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.ninth-col button {
  border: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline;
  padding: 0;
  background-color: #f3d9ac;
}
.whitish .ninth-col button {
	background-color: #ffffed;
}
.master-body-cont {
/*  bottom: 120px; */
}
.master-body-cont > div {
}
.username-input {
  padding-top: 10px;
}
.tooltip-templates {
  display: none;
}

.left-col-container .form-group {
  margin-bottom: 35px;
}

.divTableCell select {
  width: 100%;
  height: 100%;
}

.table-body .divTableCell.second-col {
  margin: 0;
  padding: 0;
}

.divTableCell.special {
  height: 20px;
}

.sixth-col .special {
  width: 25%;
}

/* Directives */
.rz-editable {
  width: 100%;
  height: 100%;
  padding: 0;
}
.rz-editable input {
  width: 100%;
  height: 100%;
}
.rz-toggle {
  cursor: pointer;
}
/* END Directives */

.divTableCell .red-cross {
  margin: 0;
  padding: 0;
  color: firebrick;
  vertical-align: middle;
}

.result-stock-number {
  padding: 0 5px;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  float: left;
}
.result-stock-size {
  margin-top: 10px;
}

.backbtn {
  width: inherit;
  padding-bottom: inherit;
}

.cutting-plan-result {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-heading {
  font-size: 0.7em;
}

.bottom-col-buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* The max width is dependant on the container */
.popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.link-row-icon {
  float: right;
  cursor: pointer;
}

.small-font {
  font-size: 0.8em;
}

.project {
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
}

.project:active, .project:hover {
  outline: none;
  border: none;
  text-decoration: none;
}

.selected-project {
  background-color: #ff7e00;
}
