/*

Domain: svetoslav.eldin.work;
Subdomain: /svetoslav;
Author: Eldin;
URL: http://eldin.work;
Theme URL: http://svetoslav.eldin.work;
Author URL: http://www.upwork.com/o/profiles/users/_~01b83cb69101fed138/;
Version: 1.0;

*/

body {
	 overflow-x: hidden;
}

.master-row {
	background: url('../img/new-bg.jpg');
	height: 120px;
	color:white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header-right-info {
	background-color:white;
	color:black;
	height: 120px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.inside-info {
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}

p.xtitle {
	font-family: Tahoma;
	font-size: 0.8em;
	padding-top: 20px;
/*	padding-left: 5px; */
}

.xletters {
	font-size: 0.8em;
}

.logo-area h2 {
	font-size: 30px;
	padding-left: 10px;
}

.logo-area img {
	padding-top: 10px;
}

.logo-area p {
	margin-bottom: -20px;
}

.btn, .btn1, .btn2 {
	border-radius: 0px;
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 0px;
  border: 1px solid black;
}

.buttons .btn {
	margin-top: 15px;
}

.btn-default:hover {
	color: #fff;
    background-color: #ff7e00;
    border-color: #333;
    font-weight: bold;
}

.sub-header-row {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  height: 70px;
  width: 100%;
}

.sub1, .sub2, .sub3 , .sub5, .sub6{
/*	border: 1px solid black; */
  height: 35px;
  margin-top: 18px;
/*  padding-top: 5px; */
}

span.down-arrow {
	float: right;
}


.sub1, sub3 {
/*	width: 90px; */
/*	margin-right: 10px; */
	padding-left: 5px;
  padding-right: 4px;
/*  margin-left: 0; */
}

.sub3 {
/*	width: 70px; */
/*	margin-right: 20px; */
}

.sub4 {
	background: url('../img/sub-header-bg.png') no-repeat center;
	border:1px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 60px;
/*	width: 145px; */
/*	margin-right: 20px; */
}

.sub5 .btn {
	font-size: 0.7em;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 5px;
  white-space: normal;
  height: 34px;
	border: 1px solid;
  background-color: #ff7e00;
  padding-top: 10px;
/*    width: 185px; */
/*	margin-right: 20px; */
}


.sub2, .sub6 {
/*	width: 185px; */
/*  border: 1px solid black; */
  padding-left: 5px;
  text-align: center;
  padding-top: 5px;
}

.sub2 span, .sub6 span {
/*	width: 185px; */
/*  border: 1px solid black; */
  font-size: 0.7em;
  cursor: pointer;
}

span.x-1 {
	font-weight: bolder;
  text-align: center;
  margin-left: -100px; /* image is 144px */
  white-space: initial;
  font-size: 18px;
  display: block;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  margin-top: 15px;
}

span.x-2 {
	font-weight: bolder;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-top: -40px;
}

.dropdown-menu {
	min-width: 185px;
	border-radius: 0px;
}

.dropdown-menu>li>a {
	background-color: #fbeed1;
    border: 1px solid black;
    margin-top: 2px;
}

ul.dropdown-menu {
	border: none;
    background-color: transparent;
    box-shadow: none;
    margin-top: -4px;
}

.master-body-row {
	margin-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 190px;
  bottom: 25px;
}

.left-col {
	border:1px solid black;
	background-color: #fbeed1;
  height: 100%;
}

.first-title {
	background-color: #ebbe70;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
  font-size: x-large;
  text-align: center;
  border-bottom: 1px solid;
  height: 40px;
}

.second-empty,
.third-empty,
.fourth-empty {
	background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
}

.special-title {
  padding-bottom: 10px;
  text-align: center;
}

.second-title,
.third-title,
.fourth-title {
	padding-top: 10px;
  padding-bottom: 10px;
}

.rz-button-small {
  font-weight: bold;
  border: 1px solid;
  text-align: center;
  width: 100%;
}

.rz-button-small:hover,
.rz-button-small:active{
  background-color: white;
}

.first-title-row {
	text-align: center;
}

.right-col {
    border: 1px solid;
    width: 160px;
/*    margin-left: 25px; */
    height: 88%;
}

.right-col-title {
	font-size: x-large;
/*	background-color: #ebbe70; */
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid;
  width: 100%;
  height: 10%;
}

.zoom {
	margin-top: 5px;
  background-color: #ff7e00;
/*	background-color: #f3d9ac; */
}


.print {
  background-color: #ff7e00;
}

/* Tables all about in here*/

.divTable{
/*	display: table; */
	width: 100%;
  height: 100%;
}
.divTableRow {
/*	display: table-row; */
/*	height: 82px; */

  height: 40px;
}
.divTableExpanderRow {
  height: 100%;
}
.divTableHeading {
	background-color: #EEE;
/*	display: table-header-group; */
}
.divTableCell, .divTableHead {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px 10px;
  display: block;
  float: left;
  height: 40px;
}
.divTableHeading {
	background-color: #EEE;
/*	display: table-header-group; */
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
/*	display: table-row-group; */
  height: 100%;
}

.without-border {
	border:none;
}

.first-table-row,
.third-table-row,
.fourth-table-row {
	background-color: #f3d9ac;
}

span.rotate-letters p {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    margin-top: 60px;
    margin-left: -70px;
    margin-right: -60px;
    padding-left: 20px;
}


span.rotate-letters .p2 {
    text-align: center;
    margin-left: -80px;
    margin-right: -80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.special {
	border: none;
/*	width: 35%; */
}


.whitish {
	background-color: #ffffed;
}


.outer-custom-div-one {
	width: 118px;
  height: 64px;
  padding-top: 1px;
  margin-bottom: 5px;
  border-top: 3px solid #9d4103;
  border-bottom: 3px solid #9d4103;
  border-left: 1px solid #ebbe70;
  border-right: 1px solid #ebbe70;
}


.custom-div-one {
	width: 110px;
	height: 50px;
	border: 2px solid black;
	margin: 3px;
	background-color: white;
}


span.no-1 {
	margin-right: 20px;
}

span.no-2 p {
	float: left;
  transform: rotate(-90deg);
  padding-right: 25px;
}

span.no-3 {
  margin-right: 15px;
}


.custom-div-two {
	width: 110px;
	height: 50px;
	border: 2px solid black;
	background-color: white;
}

span.no-3 p {
	float: left;
  transform: rotate(-90deg);
  padding-right: 25px;
  margin-right: 40px;
}

span.no-4 {
  margin-right: -80px;
  margin-left: -40px
}


/* Tables all about in here*/


.Summ {
	border: 1px solid;
/*  margin-left: 25px; */
  width: 297px;
  text-align: center;
  font-weight: bold;
  z-index: 100;
}

.Sum-row {
  position: relative;
  top: 0;
	height: 4%;
  width: 100%;
}

.Check {
	border: 1px solid;
  float: right;
  height: 40px;
  background-color: #ff7e00;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
}

.row-Check {
  position: absolute;
  top: 105%;
  right: 0;
	height: 40px;
}

.footer-row {
  position: absolute;
	background-color: #ebbe70;
	margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.foot-col {
  background-color: white;
  color: black;
  height: 20px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  font-size: 0.8em;
}

.foot-col span {
  float: right;
}

/* CSS Fix ups */

.form-control {
	border: 1px solid black;
	border-radius: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.custom-placeholder {
	border: none;
	width: 100%;
  height: 100%;
}

.custom-placeholder:focus {
	-webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.divTableCell.divTableCellEditable {
  padding: 0;
}

.custom-p {
	padding-left: 30px;
}

.center-y-n {
	text-align: center;
}

.size-custom {

}

/* Added by me */
.go-button-container {
  float: right;
}
.result-outlook-container {
  overflow-y: scroll;
  margin: 0 -15px;
  padding: 0 15px;
}
.middle-col {
  height: 100%;
}
.left-col-container {
/*  height: 315px; */
  height: 88%;
  overflow-y: scroll;
}
.middle-col-container {
/*  height: 280px; */
}
.right-col-container {
/*  height: 180px; */
  height: 60%;
}
.table-header {
  display: block;
/*  position: relative; */
  overflow-y: scroll;
}

.table-header .divTableRow {
  border-top: 1px solid black;
  text-align: center;
}

.table-body {
  display: block;
/*  border-bottom: 1px solid black; */
  overflow-y: scroll;
  height: 76%;
}
.first-col {
  width: 5%;
}
.second-col {
  width: 19%;
}
.third-col {
  width: 12%;
}
.fourth-col {
  width: 12%;
}
.fifth-col {
  width: 12%;
}
.sixth-col {
  width: 20%;
}
.seventh-col {
  width: 20%;
}
.eighth-col {
  width: 10%;
}
.ninth-col {
  width: 10%;
}
.master-body-cont {

  height: 100%;
  bottom: 120px;
}
.master-body-cont > div {
  height: 100%;
}
.username-input {
  padding-top: 10px;
}
.tooltip-templates {
  display: none;
}

.left-col-container .form-group {
  margin-bottom: 35px;
}
