<div class="outer-custom-div-one" style="width: {{tooltip.pxWidth}}; height: {{tooltip.pxHeight}}; border-top: {{tooltip.borderTop}}; border-right: {{tooltip.borderRight}}; border-bottom: {{tooltip.borderBottom}}; border-left: {{tooltip.borderLeft}};">
  <div class="custom-div-one" style="width: {{tooltip.innerPxWidth}}; height: {{tooltip.innerPxHeight}};">
    <span class="no-1">{{tooltip.width}}</span>
    <span class="no-2">
      <p>{{tooltip.height}}</p>
    </span>
    <span class="no-3">{{tooltip.label}}</span>
  </div>
</div>
