<div class="outer-custom-div-one">
  <div class="custom-div-one" style="width: {{tooltip.innerPxWidth}}; height: {{tooltip.innerPxHeight}}; width: {{tooltip.pxWidth}}; height: {{tooltip.pxHeight}}; border-top: {{tooltip.borderTop}}; border-right: {{tooltip.borderRight}}; border-bottom: {{tooltip.borderBottom}}; border-left: {{tooltip.borderLeft}};">
    <div class="no">
      <span class="no-1">{{tooltip.width}}</span>
    </div>
    <div class="no">
      <p class="no-2" style="transform: rotate(-90deg) translate(0, -{{tooltip.halfWidth}}); line-height: {{tooltip.innerPxHeight}};">{{tooltip.height}}</p>
    </div>
    <div class="no">
      <span class="no-3" style="line-height: {{tooltip.innerPxHeight}};">{{tooltip.label}}</span>
    </div>
  </div>
</div>
