{
    "rules": {
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": [
            0
        ],
        "no-unused-vars": [
            2,
            {
                "args": "after-used", "argsIgnorePattern": "^_"
            }
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "phantomjs": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals": {
        "angular": true
    }
}
