doctype html
html(ng-app="cutlist")
  head
    title Razkroi.com
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css", media="screen")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style.css", media="screen")
  body(ng-controller="CutListCtrl", ng-cloak, style="visibility: hidden;")
    // Master Header
    .container.master-row
      .row.master-cont
        .col-sm-5.col-md-5.col-sm-offset-1.col-md-offset-1.logo-area
          p
            img(src="img/main-logo.png")
          h2 office@razkroi.com
        .col-sm-4.col-md-4.col-sm-offset-1.col-md-offset-1.header-right-info
          .col-sm-12.col-md-12
            .col-sm-6.col-md-6
              label.inside-info
                p.xtitle вход за регистрирани
            .col-sm-6.col-md-6.username-input
              input#exampleInputEmail1.form-control(ng-model="username", type="text", placeholder="потребител")
          .col-sm-12.col-md-12
            .col-sm-6.col-md-6
              label.inside-info
                button.xletters.rz-button-small забравена парола
            .col-sm-6.col-md-6
              input#exampleInputEmail1.form-control(ng-model="password", type="password", placeholder="парола")
          .col-sm-12.col-md-12
            .col-sm-6.col-md-6
              label.inside-info
                button.xletters.rz-button-small нова регистрация
            .col-sm-6.col-md-6
              button.btn2.rz-button-small(type="button", ng-click="login(username, password)") вход
    // /Master Header
    // Sub Header
    .container.sub-header-row
      .row.sub-header-cont
        #exampleInputEmail1.col-md-1.col-sm-1.col-md-offset-1.col-sm-offset-1.sub1(type="text", placeholder="въведи размер плоча")
          input.form-control(placeholder="дължина", type="number", ng-model="selectedStockToAdd.width")
        #exampleInputEmail1.col-md-1.col-sm-1.sub1(type="text", placeholder="въведи размер плоча")
          input.form-control(placeholder="ширина", type="number", ng-model="selectedStockToAdd.height")
        .col-md-1.col-sm-1.sub2
          button(ng-show="selectedStock", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true", ng-init="selectedStock = slates[0]")
            | {{selectedStock.width}}x{{selectedStock.height}}
            i.fa.fa-angle-down(ng-show="selectedStock", aria-hidden="true")
          ul.dropdown-menu(aria-labelledby="dropdownMenu1")
            li(ng-repeat="stock in slates")
              a(href, ng-click="changeSelectedStock(stock)") - {{stock.width}}x{{stock.height}}
        #exampleInputEmail1.col-md-1.col-sm-1.sub3(type="text", placeholder="брой")
          input.form-control(placeholder="брой", type="number", ng-model="addedStockNumber")
        .col-md-2.col-sm-2.sub4
          span.x-1 1780
          span.x-2 2800
        .col-md-2.col-sm-2.sub5
          .btn(ng-click="addSelectedStock()")
            p.rz-button-primary
              | добави към наличност плочи
        .col-md-1.col-sm-1.sub6
          button(data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
            | настройки
            i.fa.fa-angle-down(aria-hidden="true")
          ul.dropdown-menu(aria-labelledby="dropdownMenu1")
            li
              a(href="#") - дебелина на ножа
            li
              a(href="#") - обрезки
    // /Sub Header
    // Main Body Area
    .master-body-row(ng-hide="showResult")
      .container.master-body-cont
        .row
          // Left Column
          .col-sm-2.col-md-2.left-col
            uib-tabset(active="#{loggedIn} ? 0 : 1")
              uib-tab(ng-show="#{loggedIn}")
                uib-tab-heading
                  span.tab-heading проекти
                .first-title
                  | проекти
              uib-tab
                uib-tab-heading
                  span.tab-heading наличности
                .first-title
                  | наличности
                .left-col-container.result-outlook-container
                  .form-group(ng-repeat="stock in slates")
                    .fourth-empty
                      | {{stock.width}}x{{stock.height}}
                    button.fourth-title.rz-button-small(ng-click="subtractStock($index)")
                      | {{stock.number}} бр. намали
          // /Left Column
          // Middle Column
          .col-sm-8.col-md-8.middle-col
            .table-header
              .divTableBody
                .divTableRow
                  .divTableCell.first-col №
                  .divTableCell.second-col име на детайл
                  .divTableCell.third-col бр.
                  .divTableCell.fourth-col(title="Размер по фладера") &par;
                  .divTableCell.fifth-col(title="Размер перпендикулярно на фладера") &bot;
                  .divTableCell.special-title.sixth-col(title="0-без кант 1-тънък кант 2-дебел кант")
                    .row кантиране
                    .row
                        .divTableCell.special(title="първа дълга") Iд
                        .divTableCell.special(title="първа къса") Iк
                        .divTableCell.special(title="втора дълга") IIд
                        .divTableCell.special(title="втора къса") IIк
                  .divTableCell.eighth-col върти
                  .divTableCell.ninth-col &nbsp;
            .table-body
              .divTableBody
                .divTableRow(ng-class="{whitish: $index % 2, 'first-table-row': $index + 1 % 2, divTableCellDisabled: value.disabled}", uib-popover-html="tooltipContents[$index]", popover-trigger="'mouseenter'", popover-placement="left", ng-repeat="value in items")
                  .divTableCell.first-col(tabindex="0", ng-show="!value.disabled") {{$index + 1}}.
                  .divTableCell.first-col(tabindex="0", ng-show="value.disabled")
                    i.fa.fa-times.fa-2x.red-cross
                  .divTableCell.second-col
                    rz-editable-select(tabindex="0", value="value.name", values="detailsOptions", callback="editableChanged", rowidx="$index")
                  .divTableCell.third-col
                    rz-editable-input(tabindex="0", value="value.number", callback="editableChanged", rowidx="$index")
                  .divTableCell.fourth-col
                    rz-editable-input(tabindex="0", value="value.width", callback="editableChanged", rowidx="$index")
                  .divTableCell.fifth-col
                    rz-editable-input(tabindex="0", value="value.height", callback="editableChanged", rowidx="$index")
                  .divTableCell.sixth-col
                    .divTableCell.special
                        rz-editable-toggle(tabindex="0", value="value.edgefl", values="toggleValues", callback="editableChanged", rowidx="$index")
                    .divTableCell.special
                        rz-editable-toggle(tabindex="0", value="value.edgefs", values="toggleValues", callback="editableChanged", rowidx="$index")
                    .divTableCell.special
                        rz-editable-toggle(tabindex="0", value="value.edgesl", values="toggleValues", callback="editableChanged", rowidx="$index")
                    .divTableCell.special
                        rz-editable-toggle(tabindex="0", value="value.edgess", values="toggleValues", callback="editableChanged", rowidx="$index")
                  .divTableCell.center-y-n.eighth-col
                    rz-editable-toggle(tabindex="0", value="value.rotate", values="toggleValues2", callback="editableChanged", rowidx="$index")
                  .divTableCell.dropdown.ninth-col
                    button(tabindex="0", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                        | опции 
                        i.fa.fa-angle-down(aria-hidden="true")
                    ul.dropdown-menu.pull-right(append-to="parent", aria-labelledby="dropdownMenu1")
                      li
                        a(ng-show="value.disabled", ng-click="deactivateRow($index)") - активирай
                        a(ng-show="!value.disabled", ng-click="deactivateRow($index)") - деактивирай
                      li
                        a(ng-click="deleteRow($index)") - изтрий
            // Offset Sum
            .Sum-row
              .container
                .row
                  button.col-sm-2.col-md-2.Summ.rz-button-small(ng-click="addRow()") добави редове...
            // /Offset Sum
          // /Middle Column
          // Right Column
          .col-md-2.col-sm-2.right-col
            .first-title
              | разкрой
            .right-col-container.result-outlook-container
              rz-result-stocks(cutlist="cutlist")
            button.btn.right-col-title.zoom(ng-click="showResult = true")
              | покажи
            button.btn.right-col-title.print(ng-click="createPdf()")
              | печат
            // Checkout Orange
            .row-Check
              .row
                .col-sm-12.go-button-container
                  span.Check.btn.btn-small.rz-button-primary(ng-click="submit()") създай разкрой
            // Checkout Orange
          // Right Column
    // Main Body Area
    // Footer area
    .container.footer-row
      .row.footer-cont
        .col-sm-3.col-md-3.col-sm-offset-1.col-md-offset-1.foot-col
          | начало / за нас / контакти
          span razkroi.com
    // /Footer area

    .master-body-row(ng-show="showResult")
      .container.master-body-cont.cutting-plan-result
        .row
          button.btn.right-col-title.backbtn.col-sm-offset-2.col-sm-2(ng-click="showResult = false")
            | назад
          rz-result-container(register-pdf-listener="registerPdfListener")
    x-loading-overlay(processing="processing")

    script(type="application/javascript", src="/node_modules/jquery/dist/jquery.min.js")
    script(type="application/javascript", src="/node_modules/angular/angular.js")
    script(type="application/javascript", src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(type="application/javascript", src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js")
    script(type="application/javascript", src="/node_modules/angular-fontawesome/dist/angular-fontawesome.min.js")
    script(type="application/javascript", src="/node_modules/jspdf/dist/jspdf.min.js")
    script(type="application/javascript", src="/dist/public/cutlist.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89958206-1', 'auto');
      ga('send', 'pageview');
