doctype html
html(ng-app="cutlist")
  head
  body(ng-cloak, ng-controller="CutListCtrl")
    div
      a(ng-click="changeLang('en')", href="#")
        span Еnglish
      span &nbsp;
      a(ng-click="changeLang('bg')", href="#")
        span Български
    span #{__("Slate")}
      br
      input(type="text", ng-model="slate.w")
      input(type="text", ng-model="slate.h")
      br
    span #{__("Parts")}
      div(ng-repeat="part in parts")
        input(type="text", ng-model="part.name")
        input(type="text", ng-model="part.w")
        input(type="text", ng-model="part.h")
        input(type="checkbox", ng-model="part.canRotate")
    br
    button(ng-click="submit()") #{__("Calculate")}
    br
    span {{cutlist}}
    x-cutlist-canvas#cutlist-canvas

    script(type="application/javascript", src="dist/public/cutlist.js")
