doctype html
html(ng-app="cutlist")
  head
  body(ng-cloak, ng-controller="CutListCtrl")
    div
      a(ng-click="changeLang('en')", href="#")
        span Еnglish
      span &nbsp;
      a(ng-click="changeLang('bg')", href="#")
        span Български
    span #{__("Slate")}
      br
      input(type="text", ng-model="slate.w")
      input(type="text", ng-model="slate.h")
      br
    span #{__("Parts")}
      br
      input(type="text", ng-model="parts[0].w")
      input(type="text", ng-model="parts[0].h")
      br
      input(type="text", ng-model="parts[1].w")
      input(type="text", ng-model="parts[1].h")
      br
      input(type="text", ng-model="parts[2].w")
      input(type="text", ng-model="parts[2].h")
      br
      input(type="text", ng-model="parts[3].w")
      input(type="text", ng-model="parts[3].h")
      br
      input(type="text", ng-model="parts[4].w")
      input(type="text", ng-model="parts[4].h")
      br
      input(type="text", ng-model="parts[5].w")
      input(type="text", ng-model="parts[5].h")
    br
    button(ng-click="submit()") #{__("Calculate")}
    br
    span {{cutlist}}
    x-cutlist-canvas#cutlist-canvas

    script(type="application/javascript", src="dist/public/cutlist.js")
